@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Customer";
}

<table>
    <thead>
    <tr>
        <th>Customers</th>
        <th>Discount Rate</th>
        <th>MemberShip Types</th>
    </tr>
    </thead>
    
    <tbody>
    
        @foreach (var customer in Model)
        {
            <tr>
                <td>@Html.ActionLink(@customer.Name,"Details", new {id = customer.Id})</td>
                <td>@customer.MembershipType.DiscountRate %</td>
                <td>@customer.MembershipType.Name</td>

            </tr>
    }
   
    
    </tbody>
</table>




